.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/yaml/**
!node_modules/yaml/dist/**
!node_modules/yaml/browser/**
!prisma/client/**
!prisma/schema.prisma
!src/types/**
